<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node.js | <%= title %>
  </title>
</head>

<body>
  <%- include('./partials/nav.ejs') %>
    <form id="contact-form">
      <div class="form-info">
        <label>Post Title
          <input type="text" name="title">
        </label>
        <label>Author
          <input type="text" name="author">
        </label>
      </div>
      <div class="form-text">
        <label>Post Text
          <textarea name="text" cols="30" rows="10"></textarea>
        </label>
      </div>
    </form>
</body>

</html>