<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node.js | <%= title %>
  </title>
</head>

<body>
  <%- include('./partials/nav.ejs') %>
    <article>
      <div class="info">
        <span>05.05.2021</span>
        <span>Yuriy</span>
      </div>
      <h1>Post Title</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique nemo exercitationem tempora? Dolor quos
        nesciunt amet atque quod corrupti animi molestiae sapiente in, dolore maxime provident eveniet aspernatur
        voluptatum? Eveniet cum, facilis facere voluptate expedita labore quidem quia, inventore, aspernatur cumque
        mollitia sit voluptatem voluptatibus fugit? Autem architecto eius blanditiis rerum tempora. Repellat voluptatum
        earum numquam minima officia debitis ullam, dolore deleniti sed, est nobis aliquid tenetur similique optio error
        facere non asperiores soluta ab sint esse. Similique, velit qui.
      </p>
    </article>
</body>

</html>